<div class="row">

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
            <address>
                <strong>St Vincent's Hospital Sydney Limited, APA: 555-555-555</strong><br/>
                Mailing Address: 370 Victoria St., Darlinghurst, NSW 2010<br/>
                Fax: +61 2 9355 5871<br/>
                Email: <a href="mailto:kccg-enquiries@garvan.org.au">kccg-enquiries@garvan.org.au</a>
            </address>
        </div>
        <div class="col-md-4">

        </div>

    </div>

    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Step 1 <span>Patient Information</span></li>
        <li>Step 2 <br/> <span>Requesting Practitioner Information</span></li>
        <li>Step 3 <br/> <span>Clinical Information</span></li>
        <li>Step 4 <br/> <span>Investigation Information</span></li>
    </ul>

    <div>
        <label>JSON Form Data</label>

        <div ng-model="genomic" id="formJSON">
          <span id="s1">{{s1}}</span> 
          <span id="s2">{{s2}}</span> 
          <span id="s3">{{s3}}</span> 
          <span id="s4">{{s4}}</span>
        </div>
    </div>

    <form id="msform" name="cssform" novalidate>

      <div class="row">
        <div class="col-md-12">
          <div ng-include="'views/page' + currentPage + '.html'"></div>          
        </div>
      </div>

    </form>

</div>
</div>
