<div style="margin-top:20px;">
    <h1 style="margin: 0;margin-bottom:30px;color:rgba(0,0,0,0.8)">Dashboard</h1>
    <div class="row" ng-repeat="row in rows">
        <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="cell in row">
            <a class="panel panel-default" href="/#/" style="display:block;">
            	<div class="panel-body" style="padding:20px;">
                    <div style="font-size: 32px; text-align:center;margin-bottom:14px;">
                        <i class="fa" ng-class="cell.icon"></i>
                    </div>
            	    <h3 class="panel-title" style="margin: 0;font-size: 18px;text-align:center;">{{ cell.title }}</h3>
            	</div>
            </a>
        </div>
    </div>
</div>